---
import Feedback from "@components/Feedback.astro";
import Progress from "@components/Progress.astro";
import Default from "@astrojs/starlight/components/Footer.astro";
---

{
	Astro.locals.starlightRoute.entry.data.feedback !== false ||
	Astro.locals.starlightRoute.entry.data.progress !== false ? (
		<div class="sl-markdown-content">
			<hr />

			<Progress
				enabled={Astro.locals.starlightRoute.entry.data.progress !== false}
			/>

			{Astro.locals.starlightRoute.entry.data.feedback !== false && (
				<Feedback />
			)}
		</div>
	) : null
}

<Default><slot /></Default>
